# Compiled Files
*.out
*.o
*.exe
simplestation

# Windows Library Files
*.dll

# Binary Files
*.bin

# STBI
stb_image_write.h

# Image files
*.bmp

# VSCodium Files
.vscode/

# Build Folder
build/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
